<sdf version='1.10'>
  <model name='crazyflie'>
    <pose>0 0 0 0 0 3.1400000000000001</pose>
    <link name='crazyflie/body'>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.025000000000000001</mass>
        <inertia>
          <ixx>1.6572e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>1.6656000000000001e-05</iyy>
          <iyz>0</iyz>
          <izz>2.9261999999999999e-05</izz>
        </inertia>
      </inertial>
      <collision name='crazyflie/body_collision'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <box>
            <size>0.10000000000000001 0.10000000000000001 0.029999999999999999</size>
          </box>
        </geometry>
      </collision>
      <visual name='crazyflie/body_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>../../meshes/collada_files/cf2_assembly.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
    <link name='crazyflie/m1_prop'>
      <pose>0.031 -0.031 0.021000000000000001 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.00080000000000000004</mass>
        <inertia>
          <ixx>2.0000000000000001e-09</ixx>
          <iyy>1.67e-07</iyy>
          <izz>1.68e-07</izz>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyz>0</iyz>
        </inertia>
      </inertial>
      <visual name='crazyflie/m1_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>../../meshes/collada_files/ccw_prop.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
    <link name='crazyflie/m2_prop'>
      <pose>-0.031 -0.031 0.021000000000000001 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.00080000000000000004</mass>
        <inertia>
          <ixx>2.0000000000000001e-09</ixx>
          <iyy>1.67e-07</iyy>
          <izz>1.68e-07</izz>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyz>0</iyz>
        </inertia>
      </inertial>
      <visual name='crazyflie/m2_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>../../meshes/collada_files/cw_prop.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
    <link name='crazyflie/m3_prop'>
      <pose>-0.031 0.031 0.021000000000000001 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.00080000000000000004</mass>
        <inertia>
          <ixx>2.0000000000000001e-09</ixx>
          <iyy>1.67e-07</iyy>
          <izz>1.68e-07</izz>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyz>0</iyz>
        </inertia>
      </inertial>
      <visual name='crazyflie/m3_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>../../meshes/collada_files/ccw_prop.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
    <link name='crazyflie/m4_prop'>
      <pose>0.031 0.031 0.021000000000000001 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.00080000000000000004</mass>
        <inertia>
          <ixx>2.0000000000000001e-09</ixx>
          <iyy>1.67e-07</iyy>
          <izz>1.68e-07</izz>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyz>0</iyz>
        </inertia>
      </inertial>
      <visual name='crazyflie/m4_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>../../meshes/collada_files/cw_prop.dae</uri>
          </mesh>
        </geometry>
      </visual>
    </link>
    <joint name='crazyflie/m1_joint' type='revolute'>
      <child>crazyflie/m1_prop</child>
      <parent>crazyflie/body</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name='crazyflie/m2_joint' type='revolute'>
      <child>crazyflie/m2_prop</child>
      <parent>crazyflie/body</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name='crazyflie/m3_joint' type='revolute'>
      <child>crazyflie/m3_prop</child>
      <parent>crazyflie/body</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name='crazyflie/m4_joint' type='revolute'>
      <child>crazyflie/m4_prop</child>
      <parent>crazyflie/body</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <plugin name='ignition::gazebo::systems::MulticopterMotorModel' filename='ignition-gazebo-multicopter-motor-model-system'>
      <robotNamespace>crazyflie</robotNamespace>
      <jointName>crazyflie/m1_joint</jointName>
      <linkName>crazyflie/m1_prop</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2618</maxRotVelocity>
      <motorConstant>1.28192e-08</motorConstant>
      <momentConstant>0.005964552</momentConstant>
      <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
      <motorNumber>0</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>0.0000001</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>150</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
    <plugin name='ignition::gazebo::systems::MulticopterMotorModel' filename='ignition-gazebo-multicopter-motor-model-system'>
      <robotNamespace>crazyflie</robotNamespace>
      <jointName>crazyflie/m2_joint</jointName>
      <linkName>crazyflie/m2_prop</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2618</maxRotVelocity>
      <motorConstant>1.28192e-08</motorConstant>
      <momentConstant>0.005964552</momentConstant>
      <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
      <motorNumber>1</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>0.0000001</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>150</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
    <plugin name='ignition::gazebo::systems::MulticopterMotorModel' filename='ignition-gazebo-multicopter-motor-model-system'>
      <robotNamespace>crazyflie</robotNamespace>
      <jointName>crazyflie/m3_joint</jointName>
      <linkName>crazyflie/m3_prop</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2618</maxRotVelocity>
      <motorConstant>1.28192e-08</motorConstant>
      <momentConstant>0.005964552</momentConstant>
      <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
      <motorNumber>2</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>0.0000001</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>150</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
    <plugin name='ignition::gazebo::systems::MulticopterMotorModel' filename='ignition-gazebo-multicopter-motor-model-system'>
      <robotNamespace>crazyflie</robotNamespace>
      <jointName>crazyflie/m4_joint</jointName>
      <linkName>crazyflie/m4_prop</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2618</maxRotVelocity>
      <motorConstant>1.28192e-08</motorConstant>
      <momentConstant>0.005964552</momentConstant>
      <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
      <motorNumber>3</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>0.000001</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>150</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
    <plugin name='ignition::gazebo::systems::OdometryPublisher' filename='ignition-gazebo-odometry-publisher-system'>
      <dimensions>3</dimensions>
    </plugin>
  </model>
</sdf>
